
 body{
      margin: 0;
      padding: 0;
      width: 100%;
      overflow-x: hidden;
    }

    .video{
min-height: 100%;
min-width: 100%;
    }

.navButton{
  padding:0.5em 1em;
  margin:0.25em;
  border-radius: 1em;
  border: none;
  outline: none;
  cursor: pointer;
}

.navButton:hover{
  background-color: red;
}


/*Currency Converter */

#main{
  display: flex;
 flex-direction: column;
 justify-content: center;
}

#hidden{
  display: none;
}

.wrapper{
  width:370px;
  padding: 30px;
  border-radius: 7px;
  }

.currencyForm{
  margin: 40px 0 20px 0;
}

.currencyForm :where(#amount, select, button){
  width:100%;
  outline:none;
  border:none;
  border-radius: 5px;
}

#amount{
  height:50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
}

#amount:focus{
  padding: 0 14px;
  border: 2px solid #675afe;
}

.currencyForm .drop-list{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.drop-list .select-box{
  display:flex;
  height: 45px;
  width: 115px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
}

.select-box select{
width: auto;
font-size: 16px;
margin: 0 -5px 0 5px;
}

.select-box select::-webkit-scrollbar{
  width: 8px;
}

.select-box select::-webkit-scrollbar-track{
  background:#fff; 
}
.select-box select::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #fff;
}
.select-box img{
  max-width: 25px;
}

.drop-list .icon{
  cursor: pointer;
  font-size: 22px;
  margin-top: 30px;
}

.currencyForm .exchange-rate{
  font-size: 17px;
  margin: 20px 0 30px;
}

.currencyForm button{
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  background: #675afe;
}


footer{
  display: flex;
  flex-direction: row;
  width: 100%;
}

ul#social-networks{
display: flex;
list-style-type:none;   
padding: 0;
width:30%;
}

ul#social-networks li {
  display:flex;
  padding-left: 35%;
  padding-right: 35%;
  font-size: 20px;
  
}

.fa-brands,
.fa-regular {
  color:#463c7b
} 




/*MEDIA QUERIES*/

@media screen and (max-width:767px)  { 
         
      .hero-text {
        width: 90%;
        text-align: center;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        
      }    

      h4 span{
        color: green;
      }

      h4{
        font-size: 250%;
        font-family: 'Ephesis', cursive;
      }
      
      h1{
        font-size: 30px;
        text-align: center;
        font-family: 'Ephesis', cursive;
        color: black;
      } 
        
      #map{
      height: 400px;
      width: 100%;
      margin-top: 10%;
      }

      /*bucket list*/

      #bucketListHidden{
        display: none;
      }

      .holiday-form{
        display: flex;
      }

      .form1{
        display: flex;
        width:50%;
        margin:5%;
      }

      input[type=checkbox]:checked + label.strikethrough{
        text-decoration: line-through;
        color:red;
        
      }

      .label {
        display: inline-block;
        width: 100px;
        text-align: right;
      }
      
      .input {
        display: inline-block;
        margin-left: 10px;
      }
      
      .formChecklist{
        display: flex;
      }

      #container{
        display: inline; 
      }

      .bucketButton{
        width: 100px;
        font-size: 80%;
        margin-left: 2%;
      }

     

      /*currency converter*/

      .wrapper{
        width: 100%;
        padding: 0;
        margin: 0 0 0 5%;
        display: flex;
        flex-direction: column;
      }
      .wrapper .currencyForm{
        margin:0;
      }
      
      .currency{
        font-size: 160%;
      }

      .currencyForm{
        display: flex;
        flex-direction: column;
      }
      
      .amount{
        width: 80%;
      }
      
      
      h5{
        font-size: 190%;  
        font-family: 'Ephesis', cursive;
        margin:10px 0 0 8%;
      
      }
      
      
      #amount{
        height: 100%;
        font-size: 15px;
        width: 90%;
      }

      
      
     .currencyForm .drop-list{
       align-items: flex-end;
        margin: 0;
        padding-right: 10%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      
      .drop-list .select-box {
        height:25%;
        width: 110%;
        padding: 6%;
        }
      
        .drop-list .icon{
          font-size: 10px;
          margin-top: 25%;
          padding: 0 0 0 5%;
        }
      
        .select-box select{
          font-size: 8px;
        }
      
        .select-box img{
          max-width: 15px;
        }
      
      .currencyForm .exchange-rate{
          font-size: 14px;
          margin-left: 9%;
        }
      
        .currencyForm button{
          height: 30px;
          width: 80%;
          margin: 0 5% 0 8%;
        }



      

      }

      @media screen and (min-width: 768px) { 
         
        .hero-text {
          width: 90%;
          text-align: center;
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          
        }    
  
        h4 span{
          color: green;
        }
  
        h4{
          font-size: 250%;
          font-family: 'Ephesis', cursive;
        }
        
        h1{
          font-size: 30px;
          text-align: center;
          font-family: 'Ephesis', cursive;
          color: black;
        } 
          
        #map{
        height: 400px;
        width: 100%;
        margin-top: 10%;
        }
  
        /*bucket list*/
  
        #bucketListHidden{
          display: none;
        }
  
        .holiday-form{
          display: flex;
        }
  
        .form1{
          display: flex;
          width:60%;
          margin:5%;
          flex-direction: row;
          justify-content: flex-end;

        }
  
        input[type=checkbox]:checked + label.strikethrough{
          text-decoration: line-through;
          color:red;
          
        }
  
        .label {
          display: inline-block;
          width: 100px;
          text-align: right;
        }
        
        .input {
          display: inline-block;
          margin-left: 10px;
        }
          

        .formChecklist{
          display: flex;
        }
  
        #container{
          display: flex; 
        }
  
        .bucketButton{
          width: 100px;
          font-size: 80%;
          margin-left: 2%;
        }
  }

  